
*.obj
*.tlog
Win32/Debug/MPic.log
Win32/Debug/MPic.res
Win32/Debug/qt.log
Win32/Debug/vc120.pdb
MPic.v12.suo
MPic.sdf
GeneratedFiles/ui_dialog.h
GeneratedFiles/qrc_res.cpp
GeneratedFiles/Debug/moc_dialog.cpp
debug/MPic.ilk
debug/MPic.pdb
debug/MPic.exe
debug/moc_predefs.h
MPic.sdf
MPic.aps
MPic.sdf
